.button-color{
    background-color:midnightblue;
    font-size: small;
    
}
.panda-card-footer{
    background-color:white;
    border: 0;
}
.second-header-color
{
    background-color: #FFFFFF;
}
.first-header-color{
    background-color: #FFFFF4;
}
.product-background-color
{
    background-color: #F1F1F1;
}
